/* This is a JSON format configuration file
*/
{
  //ssl:the global ssl files setting
  "ssl": {
    "cert": "../../trantor/trantor/tests/server.pem",
    "key": "../../trantor/trantor/tests/server.pem"
  },
  "listeners": [
    {
      //address:ip address,0.0.0.0 by default
      "address": "0.0.0.0",
      //port:port number
      "port": 80,
      //https:if use https for security,false by default
      "https": false
    },
    {
      "address": "0.0.0.0",
      "port": 443,
      "https": true,
      //cert,key:cert file path and key file path,empty by default,
      //if empty,use global setting
      "cert": "",
      "key": ""
    }
  ],
  "app": {
    //threads_num:num of threads,1 by default
    "threads_num": 16,
    //enable_session:false by default
    "enable_session": false,
    "session_timeout": 0,
    //document_root:Root path of HTTP document,defaut path is ./
    "document_root":"./",
    /* file_types:
     * HTTP download file types,The file types supported by drogon
     * by default are "html", "js", "css", "xml", "xsl", "txt", "svg",
     * "ttf", "otf", "woff2", "woff" , "eot", "png", "jpg", "jpeg",
     * "gif", "bmp", "ico", "icns", etc. */
    "file_types":["gif","png","jpg","js","css","html","ico","swf","xap","apk","cur","xml"],
    //max_connections:max connections number,100000 by default
    "max_connections":100000,
    //Load_dynamic_views: false by default, when set to true, drogon will
    //compile and load dynamically "CSP View Files" in directories defined
    //by "dynamic_views_path"
    "load_dynamic_views":true,
    "dynamic_views_path":["./views"],
    //log:set log output,drogon output logs to stdout by default
    "log":{
      //log_path:log file path,empty by default,in which case,log will output to the stdout
      "log_path":"./",
      //logfile_base_name:log file base name,empty by default which means drogon will name logfile as
      //drogon.log ...
      "logfile_base_name":"",
      //log_size_limit:100000000 bytes by default,
      //When the log file size reaches "log_size_limit", the log file is switched.
      "log_size_limit":100000000
    },
    //run_as_daemon:false by default
    "run_as_daemon":false,
    //relaunch_on_error:false by default,if true,the program will be restart by parent after exit;
    "relaunch_on_error":false
  }
}